# Final Project FP-7:  Machine Learning Challenge


<br>

# Analysis of factors contributing to student's math final grade


* **Name**:  CHENG JIAYING
* **Student number**:  0400360267

<br>

In [20]:
import parse_data as prs
df = prs.parse_data()
df.describe()

        studytime    absences      health        medu        fedu       grade
count  395.000000  395.000000  395.000000  395.000000  395.000000  395.000000
mean     2.035443    5.708861    3.554430    2.749367    2.521519   10.415190
std      0.839240    8.003096    1.390303    1.094735    1.088201    4.581443
min      1.000000    0.000000    1.000000    0.000000    0.000000    0.000000
25%      1.000000    0.000000    3.000000    2.000000    2.000000    8.000000
50%      2.000000    4.000000    4.000000    3.000000    2.000000   11.000000
75%      2.000000    8.000000    5.000000    4.000000    3.000000   14.000000
max      4.000000   75.000000    5.000000    4.000000    4.000000   20.000000

## Original results

In [21]:
from machine import run_ml_all, run_ml_by_grade

base_all = run_ml_all(df)       
base_groups = run_ml_by_grade(df)

## Improved results

In [22]:
from improved import run_improved_all, run_improved_by_grade

imp_all = run_improved_all(df)
imp_groups = run_improved_by_grade(df)

## Original vs Improved

In [23]:
import pandas as pd

rows = []

rows.append({
    "analysis": "All students",
    "baseline_R2": base_all["R2"],
    "baseline_RMSE": float(base_all["RMSE"]),
    "improved_R2": imp_all["R2"],
    "improved_RMSE": imp_all["RMSE"],
    "delta_R2": imp_all["R2"] - base_all["R2"],
    "delta_RMSE": imp_all["RMSE"] - float(base_all["RMSE"])
})

for g in ["Low-grade", "High-grade"]:
    if g in base_groups and g in imp_groups:
        rows.append({
            "analysis": g,
            "baseline_R2": base_groups[g]["R2"],
            "baseline_RMSE": float(base_groups[g]["RMSE"]),
            "improved_R2": imp_groups[g]["R2"],
            "improved_RMSE": imp_groups[g]["RMSE"],
            "delta_R2": imp_groups[g]["R2"] - base_groups[g]["R2"],
            "delta_RMSE": imp_groups[g]["RMSE"] - float(base_groups[g]["RMSE"])
        })

summary = pd.DataFrame(rows)
summary

,analysis,baseline_R2,baseline_RMSE,improved_R2,improved_RMSE,delta_R2,delta_RMSE
0,All students,-0.067757,4.844740,-0.064750,4.837912,0.003007,-0.006828
1,Low-grade,0.335545,3.206440,0.342459,3.189715,0.006914,-0.016726
2,High-grade,-0.105046,2.308088,-0.070635,2.271867,0.034411,-0.036221

## Main reports

An initial exploration of the data shows that the distribution of absences is highly skewed, with several extreme values. These outliers can negatively affect model fitting and prediction accuracy. To mitigate this issue, we apply a 95% winsorization (clipping) to the absences variable.

After this preprocessing step, the model performance improves noticeably: the RÂ² increases, indicating better explanatory power, and the RMSE decreases, suggesting lower prediction error. Overall, handling extreme values in absences leads to a clear improvement in model results.