# main.ipynb

This notebook runs the data parsing notebook `parse_data.ipynb` and reports a summary.

In [1]:
%run parse_data.ipynb

zsh:1: command not found: pip

In [2]:
df.describe()

        studytime    absences      health        medu        fedu
count  395.000000  395.000000  395.000000  395.000000  395.000000
mean     2.035443    5.708861    3.554430    2.749367    2.521519
std      0.839240    8.003096    1.390303    1.094735    1.088201
min      1.000000    0.000000    1.000000    0.000000    0.000000
25%      1.000000    0.000000    3.000000    2.000000    2.000000
50%      2.000000    4.000000    4.000000    3.000000    2.000000
75%      2.000000    8.000000    5.000000    4.000000    3.000000
max      4.000000   75.000000    5.000000    4.000000    4.000000