# parse_data.ipynb

This notebook parses the data files used for the FP-2 assignment. 

<br>
<br>

First let's read the attached data file:

In [8]:
import pandas as pd

df0 = pd.read_csv('student-mat.csv', sep = ';')

df0.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

<br>
<br>

The dependent and independent variables variables (DVs and IVs) that we are interested in are:

**DVs**:
- G3  (the student's final mathematic grade)

**IVs**:
- Studytime ("studytime" column in the CSV file)
- absences  ("absences" column in the CSV file)
- health  ("health" column in the CSV file)
- Medu  ("Medu" column in the CSV file)
- Fedu  ("Fedu" column in the CSV file)


<br>
<br>

Let's extract the relevant columns:

In [9]:

df = df0[  ['studytime', 'absences', 'health', 'Medu', 'Fedu', 'G3']  ]

df.describe()

        studytime    absences      health        Medu        Fedu          G3
count  395.000000  395.000000  395.000000  395.000000  395.000000  395.000000
mean     2.035443    5.708861    3.554430    2.749367    2.521519   10.415190
std      0.839240    8.003096    1.390303    1.094735    1.088201    4.581443
min      1.000000    0.000000    1.000000    0.000000    0.000000    0.000000
25%      1.000000    0.000000    3.000000    2.000000    2.000000    8.000000
50%      2.000000    4.000000    4.000000    3.000000    2.000000   11.000000
75%      2.000000    8.000000    5.000000    4.000000    3.000000   14.000000
max      4.000000   75.000000    5.000000    4.000000    4.000000   20.000000

In [10]:
df = df.rename( columns={'Medu':'medu', 'Fedu':'fedu', 'G3':'grade'} )

df.describe()

        studytime    absences      health        medu        fedu       grade
count  395.000000  395.000000  395.000000  395.000000  395.000000  395.000000
mean     2.035443    5.708861    3.554430    2.749367    2.521519   10.415190
std      0.839240    8.003096    1.390303    1.094735    1.088201    4.581443
min      1.000000    0.000000    1.000000    0.000000    0.000000    0.000000
25%      1.000000    0.000000    3.000000    2.000000    2.000000    8.000000
50%      2.000000    4.000000    4.000000    3.000000    2.000000   11.000000
75%      2.000000    8.000000    5.000000    4.000000    3.000000   14.000000
max      4.000000   75.000000    5.000000    4.000000    4.000000   20.000000